.vscode/**
src/**
tests/**
node_modules/**
**/*.map
**/*.ts
**/*.tsx
.gitignore
.eslintrc*
tsconfig*.json
esbuild.config.mjs
tailwind.config.cjs
postcss.config.cjs
vitest.config.ts
docs/**
.nexus/**
.nexusrules
.nexusignore
STATUS.md
CHANGELOG.md
pnpm-lock.yaml
yarn.lock
package-lock.json
.github/**
